
<h5>Template Driven Forms</h5>
<h6>Signup</h6>
<form #addgroup="ngForm" (submit)="additemss()" >
<div >
  <div class="form-group">
    <input class="form-control" type="number" readonly value="001"  placheolder="Id"(onchange)="funct(this.value)"/>
  </div>
  <div class="form-group"> 
  <input class="form-control" type="text" name ="uname" #uname="ngModel" [(ngModel)]="username" placeholder="Username" required />

  <div *ngIf="uname.invalid && (uname.dirty || uname.touched)"
             class="alert alert-danger">Username required </div>
  </div>
 
  <div class="form-group"> 
  <input class="form-control" type="text" name="email" #email="ngModel" [(ngModel)]="emails"  placeholder="Email" required/>
  <div *ngIf="email.invalid && (email.dirty || email.touched)"
             class="alert alert-danger">Email required </div>
  </div>
  <div class="form-group"> 
  <input class="form-control" type="number" name="pnumber" #pnumber="ngModel" [(ngModel)]="phonenumber" placeholder="Phone number" required />
  </div>
  <div *ngIf="pnumber.invalid &&(pnumber.dirty||pnumber.touched)" class=" alert alert-danger">Phonenumber Required</div>
  <div>
  <button class="btn btn-primary" type="submit" [disabled]="addgroup.invalid" (click)="additems(uname.value,email.value,pnumber.value)">add</button> &nbsp;
  <button class="btn btn-primary" type="reset">Reset</button>
  </div>
   </div>
</form>
<br/>
<my-list [parentdata]="[uname.value,email.value,pnumber.value]"></my-list>
<!--<my-list [addcomp]="uname.value"></my-list>-->




  <table>
    <tr *ngFor="let ads of add">
      <td>{{ads|json}}</td>
      <td><i class="fa fa-window-close" aria-hidden="true" (click)="remove(this)"></i></td>
    </tr>
  </table>
  {{cc}}
