<p>List of Students Entry</p>
<table class="table table-responsive">
  <tr>
    <th>Id</th>
    <th>Username</th>
    <th>Email</th>
    <th>Phonenumber</th>
    <th>Actions</th>
  </tr>
  <tr>
    <td>001</td>
    <td>Test1<td>
    <td>test1@gmail.com</td>
    <td>0231456</td>
    <td><i class="fa fa-edit" aria-hidden="true" (click)="edit()"></i></td>
    <td><i class="fa fa-window-close" aria-hidden="true" (click)="remove()"></i></td>
    
  </tr>
  <tr *ngFor="let p of parentdata">   
    <td>{{p}}</td>
    <td>{{p.username}}</td>
    <td>{{p.username}}</td>
    <td>{{p.username}}</td>
    <td><i class="fa fa-window-close" aria-hidden="true"></i></td>
  </tr>
 <!-- <tr *ngFor="let x as parentdata">  
    <td>{{x.id}}</td>
    <td>{{x.uname}}<td>
    <td>{{x.email}}</td>
    <td>{{x.pnumber}}</td>
    <td><i class="fa fa-window-close" aria-hidden="true"></i></td>
  </tr>-->
</table>