<p>List of Students Entry</p>
<table class="table table-responsive"#tabledata>
  <tr>
    <th>Id</th>
    <th>Username</th>
    <th>Email</th>
    <th>Phonenumber</th>
    <th>Actions</th>
  </tr>
  <tr>
    <td name="id">001</td>
    <td name="uname">Test1<td>
    <td name="emailid">test1@gmail.com</td>
    <td name="pnumber">0231456</td>
    <td><i class="fa fa-edit" aria-hidden="true" (click)="edit()"></i></td>
    <td><i class="fa fa-window-close" aria-hidden="true" (click)="remove()"></i></td>
  </tr>
<tr > 
    <td>{{parentdata}}</td>
    <td>{{parentdata}}</td>
    <td>{{parentdata}}</td>
    <td><i class="fa fa-window-close" aria-hidden="true"></i></td>
  </tr>
 <!-- <tr *ngFor="let x as parentdata">  
    <td>{{x.id}}</td>
    <td>{{x.uname}}<td>
    <td>{{x.email}}</td>
    <td>{{x.pnumber}}</td>
    <td><i class="fa fa-window-close" aria-hidden="true"></i></td>
  </tr>-->
</table>
<p>test</p>
<!--<input type="text" name="testbox" [(ngModel)]="testboxs" (click)="edit(this.value)" /><button>Submit </button> -->
